<div class="program-wrapper">
  <ng-container *ngIf="!isLoading">
    <article class="program-container" *ngFor="let program of programData">
      <figure class="textCenter" style="height: 22vh">
        <img [src]="program.links?.mission_patch_small" alt="Program Image" />
      </figure>
      <h3 title="{{ program.mission_name }} #{{ program.flight_number }}">
        {{ program.mission_name }} #{{ program.flight_number }}
      </h3>
      <div><strong>Mission Ids</strong></div>
      <ul>
        <li *ngFor="let mission of program.mission_id">{{ mission }}</li>
        <li *ngIf="!program.mission_id.length">no mission id found</li>
      </ul>
      <div class="row-data">
        <span>Launch Year:</span><span> {{ program.launch_year }}</span>
      </div>
      <div class="row-data">
        <span>Successful launch:</span
        ><span> {{ program.launch_success }}</span>
      </div>
      <div class="row-data">
        <span>Successful landing:</span>
        <span>{{ program.launch_failure_details ? false : true }}</span>
      </div>
    </article>
  </ng-container>
  <div *ngIf="!programData.length && !isLoading" class="err-msg">
    <h2 class="textCenter">No Data Found</h2>
  </div>
  <div *ngIf="isLoading" class="err-msg">
    <h2 class="textCenter">Loading ...</h2>
  </div>
</div>
